*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav
{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav ul
{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;

}
nav ul a
{
    text-decoration: none;
    color: white;
}
nav img
{
    padding: 2px;
}
main
{
    margin: 5px;
    
}
.row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row .card
{
    text-align: center;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
}
.row .card button
{
    padding: 5px;
    border-radius: 5px;
    background-color:cadetblue;
    color: white;
}
footer
{
    height: 120px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}
.address
{
    padding: 30px;
}
.contact 
{
    padding: 40px;
}
.contact ul
{
    list-style: none;
}