*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img
{
    display: block;
    padding: 20px;
    width: 70%;
    height: 50%;
    border-radius: 50%;
}
.icon
{
    top: 0px;
    left: 200px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}
body
{
    
    background-color: grey;
}
h3
{
    background-color: cadetblue;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;

}
div
{
    background-color: whitesmoke;
    display: block;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    box-shadow: 100px;
    padding: 10px;
    position: relative;
}