/* Units Demo */

/* Font Size in rem & em */
html
{
    font-size: 12px;
}
h1
{
    font-size: 5em;
}
ul
{
    font-size: 2rem;
}
/* Font Size in % */
.parent
{
    font-size: 40px;
}
.child
{
    font-size: 50%;
}
/* Font size in viewport */

h1
{
    font-size: 10vh;
}