*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    display: flex;
    background-color: grey;
    
}
nav
{
    flex-shrink: 0;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: darkmagenta;
    display: block;
    height: 100vh;
    text-align: center;
    position: ab;
}
main
{
    width: 75vw;
    justify-content: center;
    align-self: center;
}
main h2
{
    text-align: center;
}
.row
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row .card
{
    align-self: center;
    text-align: center;
    width: 200px;
    height: 150px;
    margin: 30px;
    /* border: 1px solid black; */
    /* border-radius: 5px;*/
    box-shadow: 1px 1px 1px 1px;
    background-color: orange;
}
.row .card h2
{
    padding: 10px;
}