*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent
{
    width: 800px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.child1
{
    grid-column: 1 / 3;
    display: flex;
}
.child1 .text
{
    padding: 20px;
    justify-items: center;
}
.child1 .text h4
{
    padding-left: 2px;
    width: 200px;
    margin: 5px;
    color: grey;
    font-size: 10px;
}
.child1 .text h3
{
    margin: 5px;
}
.child1 img
{
    width: 12rem;
}
.child1 p
{
    font-size: 12px;
    padding: 5px;
    color: grey;
}
.child2
{
    grid-column: 3 / 5;
    background-color: rgba(234, 228, 228, 0.825);
    justify-items: center;
    text-align: center;
}
.child2 h2
{
    padding: 10px;
    width: 250px;
}
.child2 h4
{
    padding-top: 15px;
    color: grey;
    font-size: 10px;
}
.child2 a
{
    color: skyblue;

}
.child3
{
    background-color: rgba(255, 72, 0, 0.853);
    justify-items: center;
    text-align: center;
}
.child3 img
{
    margin-top: 30px;
    padding: 10px;
    width: 13rem;

}
.child3 h2
{
    color: white;
}
.child3 h4
{
    padding-top: 15px;
    font-size: 15px;
    color: yellow;
}
.child4
{
    grid-column: 2 / 3;
    align-self: center;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
}
.child4 img
{
    width: 10rem;
}
.child4 h2
{
    font-size: 20px;
    text-align: center;
}
.child4 h4
{
    font-size: 13px;
    color: grey;
    padding: 5px;
    padding-left: 18px;
}
.child5
{
    grid-column: 3 / 4;
    text-align: center;
    align-self: center;
    grid-row: 2 / 3;
}
.child5 p
{
    font-size: 13px;
    padding: 10px;
}
.child5 a
{
    font-size: 15px;
    text-decoration: none;
    padding-left: 10px;
    color:skyblue;
}
.child6
{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: rgba(188, 133, 237, 0.74);
    
    text-align: center;

}
.child6 h2
{
    padding: 10px;
    color: white;
}
.child6 p
{
    color: white;
    padding: 10px;
    padding-bottom: 30px;
}
.child6 button
{
    border-radius: 15px;
    background-color: orange;
    padding: 10px;
}
.child6 img
{
    width: 13rem;
}
.child7
{
    text-align: center;
    justify-items: center;
    align-items: center;
}
.child7 img
{
    width: 10rem;
    
}
.child7 h4
{
    color: skyblue;
    padding: 8px;
    font-size: 12px;
}
.child8
{
    grid-column: 2 / 4;
    background-color: rgba(58, 159, 125, 0.596);
    
}
.child8 .main
{
    justify-items: center;
    text-align: center;
}
.child8 h3
{
    width: 150px;
    color: white;
    margin: 10px;
    
}
.child8 img
{
    width: 10rem;
    height: 6rem;
}
.child8 h4
{
    /* position: absolute; */
    font-size: 8px;
    display: inline;
    padding: 4px;
    background: orangered;
    color: white;
    border-radius: 5px;
    margin: 10px;
}