*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent
{
    width: 800px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    /* Make parent a grid container */
    display: grid;
    /* fr- used to divide the space evenly in the required parts */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.child1
{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: rgb(226, 63, 63);
}
.child2
{
    grid-column: 3 / 5;
    background-color: skyblue;
}
.child3
{
    grid-row: 2 / 5;
    background-color: blue;
}
.child4
{
    grid-row: 2 / 5;
    background-color: rgb(142, 87, 39);

}
.child5
{
    grid-column: 1 / 2;
    background-color: orange;

}
.child6
{
    grid-column: 2 / 3;
    background-color: orange;

}
.child7
{
    grid-column: 1 / 3;
    background-color: grey;

}
/* Grid areas? and its names? */

/* Responsiveness */

@media screen and (max-width:600px) {
    /* Stacked View */
    .parent
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .parent > div
    {
        grid-column: auto;
        grid-row: auto;
    }
    
}