*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root
{
    /* Defining a Variable *//*
    --heading-color: #ceba21e7;
    --button-color: #146d83e7;
}

h1
{
    color: var(--heading-color);
}
button
{
    background-color: var(--button-color);
}
 */

h1
{
    /* clamp()- to make font responsive */

    font-size: clamp(1.5rem,10vw,5rem);
    text-align: center;

}

img
{
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

/* @media screen and (max-width:600px) {
    h1
    {
        font-size: 1.5rem;
    }
}
@media screen and (min-width:601px) and (max-width:800px){
    h1
    {
        font-size: 3rem;
    }
} */